<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% if app.user %}
		    Bienvenue {{app.user.email}}
		    <a href="/logout">Se déconnecter</a>
        {% else %}
            <a href="/login">Se connecter</a>
        {% endif %}
        <a href="{{ path('app_user_new') }}">S'inscrire</a> 
        <h2>
            TRT Conseil est une agence de recrutement spécialisée dans l'hôtellerie et la restauration. <br>
            Fondée en 2014, la société possède plus de 12 centres dispersés aux quatre coins de la France.
        </h2>  
        {% block body %}{% endblock %}
        
    </body>
</html>
